<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Workspace</title>
  </head>
  <body>
    <div class="workspace">

      <form
        action="/v1/api/workspaces/{{workspace.id}}/edit"
        method="POST"
        class="workspace-form"
      >
        <h1>Edit Workspace</h1>
        <label for="title">Title:</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          value="{{workspace.title}}"
          required
        />
        <br />
        <label for="description">Description:</label>
        <textarea
          class="form-control"
          id="description"
          name="description"
        >{{workspace.description}}</textarea>
        <br />
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
    </div>
  </body>
</html>