<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form
      class="d-flex flex-column align-items-center justify-content-center border border-3 border-black bg-black w-25 rounded m-auto p-3"
      method="post"
      action="api/login"
    >
      <h1 class=" mb-3">Login Form</h1>
      <input
        placeholder="Username..."
        class="form-control mb-3"
        name="username"
      />
      <input
        placeholder="Password..."
        class="form-control mb-3"
        name="password"
      />
      <button class="btn btn-dark">Login</button>
        {{#if message}}
            <p class=" text-danger mt-4">{{message}}</p>
        {{/if}}

    </form>

  </body>
</html>