<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{workspace.title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="workspace">
      <h1>Workspace of <em class=" text-primary">{{workspace.title}}</em></h1>
      <p>{{description}}</p>
      <table>
        <tr>
          <th>Name</th>
          <th>Token</th>
          <th>Created At</th>
          <th>Revocation date</th>
          <th>Actions</th>
        </tr>
        <tr >
          <td>Maria Sanchez</td>
          <td>28</td>
          <td>28</td>
          <td>28</td>
          <td><button class=" btn btn-danger">Revocate</button></td>
          
        </tr>
        <tr>
          <td>Michael Johnson</td>
          <td>34</td>
          <td>34</td>
          <td>34</td>
        </tr>
      </table>

    </div>

  </body>
</html>