<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workspaces</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="border-1 rounded-2 border-black workspace">
        <h1 class=" mb-5">Workspace Panel</h1>
        <form action="api/workspaces/create" method="post" class=" mb-4">
        <h3 class=" mb-4">Add Workspace</h3>
            <input name="title" class=" form-control mb-3" placeholder="Title"/>
            <input name="description" class=" form-control mb-3" placeholder="Description(Optional)"/>
            <button class=" btn btn-primary mt-1">Add workspace</button>
        </form>
        <h3 class=" mt-5">Workspaces</h3>
        
        <div class="  d-flex mt-3">
            {{#each workspaces}}
            <div class="workspace__card">
                <h4 class="workspace__title">{{title}}</h4>
                <p>{{description}}</p>
                <a class=" btn btn-warning " style="color: #000;" href="workspace/{{id}}/update">Modify</a>
            </div>
            {{/each}}
        </div>
    </div>
  </body>
</html>